<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>UniReportes</title>
<link rel="icon" type="image/x-icon" href="favicon.ico"/>
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com" rel="preconnect"/>
<link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect"/>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>
<!-- CSS Personalizado -->
<link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<div>
<header class="encabezado">
  <div class="logo">
    <span class="material-symbols-outlined icono-beneficio">school</span>
    <h2 class="titulo">UniReportes</h2>
  </div>
  <nav class="menu">
    <a class="menu-enlace" href="#">Inicio</a>
    <a class="menu-enlace" href="#">Reportar Daño</a>
    <a class="menu-enlace" href="#">Mis Reportes</a>
    <a class="menu-enlace" href="#">Ayuda</a>
  </nav>
  <div class="menu">
    <button class="boton boton-secundario"><span>Iniciar Sesión</span></button>
    <button class="boton boton-principal"><span>Registrarse</span></button>
  </div>
</header>
<main>
  <section class="hero">
    <div>
      <h1 class="hero-titulo">Reporta y Resuelve Daños en tu Campus</h1>
      <p class="hero-texto">UniReportes facilita la notificación y seguimiento de problemas en las instalaciones universitarias. Únete a nuestra comunidad para mantener un entorno de aprendizaje seguro y eficiente.</p>
      <div class="hero-boton">
        <a class="boton boton-principal" href="#">Comenzar</a>
      </div>
    </div>
  </section>
  <section class="seccion-beneficios">
    <h2 class="titulo-seccion">Mejora la Experiencia Universitaria</h2>
    <p class="subtitulo-seccion">UniReportes te permite reportar daños de manera eficiente, asegurando un entorno seguro y funcional para todos.</p>
    <div class="beneficios">
      <div class="tarjeta-beneficio">
        <span class="material-symbols-outlined icono-beneficio">security</span>
        <h3 class="titulo-beneficio">Seguridad Primero</h3>
        <p class="texto-beneficio">Priorizamos la seguridad de estudiantes y personal, actuando rápidamente ante cualquier riesgo.</p>
      </div>
      <div class="tarjeta-beneficio">
        <span class="material-symbols-outlined icono-beneficio">speed</span>
        <h3 class="titulo-beneficio">Rapidez en la Resolución</h3>
        <p class="texto-beneficio">Nuestro sistema agiliza la comunicación y reparación, minimizando las interrupciones.</p>
      </div>
      <div class="tarjeta-beneficio">
        <span class="material-symbols-outlined icono-beneficio">groups</span>
        <h3 class="titulo-beneficio">Comunidad Activa</h3>
        <p class="texto-beneficio">Fomenta la colaboración entre usuarios y administración para un campus más cuidado.</p>
      </div>
    </div>
  </section>
<section class="tarjetas-reportes">
    <h2 class="titulo-seccion">Reportes Comunes</h2>
    <div class="contenedor-tarjetas">
      <div class="tarjeta-reporte">
        <img alt="Iluminación" class="imagen-reporte" src="https://lh3.googleusercontent.com/aida-public/AB6AXuDpdyv9h0hD_kDyHkJYUI3eCHg75QXtHe4di2cfINWfXUJVcPSMwOb7DRpXEfDPoqlnrx6YvtleyuuS_I60GTjYo-AKl6d834SQECuoDFUuoU126trQq854bfItJ7fGLl8Hjp-Scpe3Uvk3IAOeszv9SSlORuAd5gyGNKZ0t0XhIh_ZLCKV4m63P_X-_tvM4435_4lhqilr1k7n6gtH2ptQDeLX3q5Qin9sjd4gvsN3DjI17qdI0uUoPJRAcaJ2OZbtS6D3wJtaOjM"/>
        <h3 class="titulo-tarjeta">Iluminación Defectuosa</h3>
        <p class="texto-tarjeta">Reporta fallos en lámparas o luminarias.</p>
      </div>
      <div class="tarjeta-reporte">
        <img alt="Mobiliario" class="imagen-reporte" src="https://lh3.googleusercontent.com/aida-public/AB6AXuDnf1-vOJrH5tGe1mkhw5_slHs7Cz3EmhTokmS7yhtx5VdawM1NTKRAZip3I8K0p0scx-Qg0abcY41uLSGscNkJ_T9W2nJi1Zgs07Ah_vvWXhDQGZiAwby8PB3dGLV01zTUD_JISVKZW3O-kE9D2_VVUCLI_3EeaWy1amOkV2Zc9mVRnHuD2zoF8uuzVILZejKF98TPvyvBGdh2yXoTuXjs-yBAIL2vsBb7J0bDHuXSJaJIs6wq7OJOdQ8hLVA-zdg0YPe9eJ1t3M8"/>
        <h3 class="titulo-tarjeta">Mobiliario Dañado</h3>
        <p class="texto-tarjeta">Informa sobre sillas, mesas o otros elementos rotos.</p>
      </div>
      <div class="tarjeta-reporte">
        <img alt="Climatización" class="imagen-reporte" src="https://lh3.googleusercontent.com/aida-public/AB6AXuAap7x12ZHrKqdW27l7x6KdLSAq68JwkGIGAF4ANlWtnTjkUOZYs1yTb4fe4o3BXdGxwOQRpwWxwkYHdWjwC1c9BCFXmFrTtlY5tx7glEuad7mW1vpFF1GyyRdAuiZyuAvWgshsSPkpAk-8yCdDZl6hOeZ0C2t7YXqRxVRky-TQ8hJRFCthCwtsamhNKGZYNZDIKr-aiXQODutvXgDhANyf2thSVVZMG_clJX9jQObsiBgVobiIBR7m-uTr-wBziN8kv8aWIidDDsc"/>
        <h3 class="titulo-tarjeta">Problemas de Climatización</h3>
        <p class="texto-tarjeta">Comunica problemas con calefacción o aire acondicionado.</p>
      </div>
    </div>
  </section>
  <section class="tarjetas-reportes">
    <h2 class="titulo-seccion">Mejoras Recientes</h2>
    <div class="contenedor-tarjetas">
      <div class="tarjeta-reporte">
        <img alt="Pavimento" class="imagen-reporte" src="https://lh3.googleusercontent.com/aida-public/AB6AXuCj9U3InlywL99bjy6OVi_OIfz4YbVujsBYC884gFIPukUNjWqI1668GT23zRIsButcdCDUS7uDoXP6H_dpSR7dEGbuGDzKhVI5DYmc_63Q7RKZfHnCp3FFcZV5q51gXHUJN2haX8SVDTTuksJjEuS_Q2iOStNDuE8LYp8R8iI_bVnekQRQQI_g0_cLMDim-ey27WggemMsHqxIQ4A6phJXxcc6-YpDZncahqoWn_3PmzNVHEnn5h3JL5aWs8CvGzpE_fA85_vwFv8"/>
        <h3 class="titulo-tarjeta">Reparación de Pavimento</h3>
        <p class="texto-tarjeta">Se ha reparado el pavimento en diversas zonas del campus.</p>
      </div>
      <div class="tarjeta-reporte">
        <img alt="Aulas" class="imagen-reporte" src="https://lh3.googleusercontent.com/aida-public/AB6AXuCRhqMoH4O8py29hE1jy0q6lfOnsetEqRuEdw7Xd9STWtWmC-k_e0mfdT0jfkdYAR436e35q6_oyRMv-IGUXrwwPNteZCtpVQTK8hMSM5yvmuzsBc_WKunfpU87J5NOjAY5rKVDN0eDla3wRmty6Y2jh_jnlAzVMFg1NOHGJDqhHrnedfmGfz4HZwkvaSyoRrJ_L0qccXvqFNnRTHCmFy65v_uIFBN_nCGK6nSjwhafN3LuKFHyP3wnHJZPZq2XB_VnA8iPEy4ZJY8"/>
        <h3 class="titulo-tarjeta">Renovación de Aulas</h3>
        <p class="texto-tarjeta">Las aulas han sido renovadas para un mejor ambiente de estudio.</p>
      </div>
      <div class="tarjeta-reporte">
        <img alt="Accesibilidad" class="imagen-reporte" src="https://lh3.googleusercontent.com/aida-public/AB6AXuDf4l-euyuEcbNkPOSctX6Ap6XPhtLqJnG7UTEssYqDo0GILmuJ4_zekROPPkdJm1Lt-VhADycR--f--GWiFDaDAwo0xtX6KSoqC-I-ZaOavJSddk3yHyXD-Y94G2btvCE8tZYtvDx6Jv_nG6ww3N-oPQy7qZtj8xj2QAmftiePzZSgqkE0j-WW-Wx_PGqEt8YVsOB9LNtIUj7WCeukh9xR2OIXKx2RVeVGdaKyY5kqhhidoVniH59NUCmJ41nk7gp191tFCpDw-jU"/>
        <h3 class="titulo-tarjeta">Mejora de Accesibilidad</h3>
        <p class="texto-tarjeta">Se han implementado mejoras para facilitar el acceso.</p>
      </div>
    </div>
  </section>
  <footer class="pie-pagina">
    <nav class="menu-pie">
      <a class="enlace-pie" href="#">Ayuda</a>
      <a class="enlace-pie" href="#">Documentación</a>
      <a class="enlace-pie" href="#">Contacto</a>
    </nav>
    <p class="texto-pie">© 2024 UniReportes. Todos los derechos reservados.</p>
  </footer>
</div>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- JavaScript personalizado -->
<script src="js/index.js"></script>
</body>
</html>
